* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

a, a:visited{
  color: $white;
  text-decoration: none;
}

button{
  background: none;
  border: none;
  outline: none;
}

h1, h2, h3{
  font-family: 'Alata', sans-serif;
}

h2{
  font-size: $f-lg;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.attribuition{
  display: block;
  background: $black;
  padding-top: 0 !important;
  padding-bottom: 1rem !important;
  text-align: center;

  >a{
    text-decoration: underline;
    color: $veryDarkGray;
  }
}

.container{
  padding: 3.875rem 10.25rem 6.375rem;

  @include breakpoint-down(medium){
    padding: 3rem 1.8rem 5.125rem;
  }
}

.logo {
  color: $white;
  font-size: $f-med;
}

.navLink--default {
  padding-bottom: 0.375rem;
  position: relative;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: $f-sm;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    transform: translateX(-50%);
    height: 2px;
    background: $white;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}